<app-navbar></app-navbar>
<router-outlet></router-outlet>

























          <!-- <div class="wow bounceInUp">
            Content to Reveal Here
            </div>   <div class="wow bounceInUp">
              Content to Reveal Here
              </div>   <div class="wow bounceInUp">
                Content to Reveal Here
                </div>   <div class="wow bounceInUp">
                  Content to Reveal Here
                  </div>   <div class="wow bounceInUp">
                    Content to Reveal Here
                    </div>   <div class="wow bounceInUp">
                      Content to Reveal Here
                      </div> -->
