<div class="landing">
  <div class="intro-text">
    <h1 class="slide-left">Hello There</h1>
    <p class="slide-left">Pizza place · American Restaurant</p>
    <div class="link slide-left">
      <a href="#" class="button">Read More</a>
      <a href="#">Contact</a>
    </div>
  </div>
</div>


<div class="features">
  <div class="container">
    <div class="feat">
      <i class="fa-solid fa-pizza-slice"></i>
      <h3>Typically replies within a few hours</h3>
      <p>Great pizza depends on great people. That's where you come in. Find out why you might want to work at
        Pizza</p>
    </div>
    <div class="feat">
      <i class="fa-solid fa-ice-cream"></i>
      <h3>Passionate about quality – and hygiene</h3>
      <p>From taste and texture to food safety and product development, here’s how to achieve a consistently
        perfect ice cream </p>
    </div>
    <div class="feat">
      <i class="fa-solid fa-beer-mug-empty"></i>
      <i class="fa-thin fa-citrus-slice"></i>
      <h3>DRINKS connects marketers, brands </h3>
      <p>Service (WaaS) platform enables any ­­­­company to bring adult beverages safely and conveniently to
        its customers</p>
    </div>
  </div>
</div>
